{% extends 'base.html' %}

{% block title %}Add Budget{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">

    <h2>Add Budget</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Budget</button>
    <a href="{% url 'view_budget' %}" class="btn btn-outline-secondary">Back to Budget History</a>

    </form>
</div>
</div>
</div>
{% endblock content %}
