{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-primary">Categories</h2>
    <table class="table table-bordered">
    <a href="{% url 'add_category' %}" class="btn btn-success float-right mb-3">Add New Category</a>

        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category_id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'edit_category' category.category_id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'delete_category' category.category_id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No categories available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
